@charset "utf-8";
/* CSS Document */

	ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #c2b48d;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  font-family: Bebas Neue;
  font-size: 130%;
}

li {
  float: left;
}

li a {
  display: block;
  color: #10604a;
  text-align: center;
  padding: 14px 16px;
}

li a:hover {
  background-color: #edebe7;
}

.active {
  background-color: #dfd8c6;
}
