@charset "utf-8";
/* CSS Document */

html {
  scroll-behavior: smooth;
}
		/*column code*/
	.column {
    width: 50%;
    float: left;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

.container {
	/*width:; */
	align-content: center;
}
/* Use a media query to add a break point at 600px: */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  } /* The width is 100%, when the viewport is 500px or smaller */
  .body {
	background-image: url("bg2.png");
	}
} 

		/*general styling*/
		body {
	background-image: url("bg2.png");
 	background-color: #193233;
	background-size: cover;
}

@font-face {
	font-family: Bebas Neue;
	src: url(BebasNeue-Bold.otf);
}
@font-face {
	font-family: Montserrat;
	src: url(Montserrat-Medium.ttf);
}
	
		.nameheader {
	font-family: Bebas Neue;
	font-size: 24pt;
	color: #ffffff;
		}
		div.header{
	margin-top: 4%;
	margin-right: 3%;
		}
		.face {
	font-family: Montserrat;
	color: #ffffff;
	font-size: 14pt;
}
	b.color{
	color:#dfd8c6
}
/*those tan blocks on the main page i guess.  also fuck you adi*/
.tanblock {
	background-color: #c3ae9e;
	align-self: center;  
	padding-top:10px; 
	padding-bottom:10px;
}
.blueblock {
	background-color: rgba(47, 162, 152, 0.85);
	align-self: center;  
	padding-top:10px; 
	padding-bottom:10px;
	border-style:solid;
	border-color: #ffffff;
	border-width: thin;
}

.line {
	background-color: #193233;
	align-self: center;  
	padding: 1px;
}
	
.floater {
	margin:5%;
}
		
		/* link */
	a:link {
  	color:#193233;
		
}

   .face a:link {
	color:#dfd8c6;
}
/* mouse over link */
	a:hover {
 	 color: #2fa298;
		}

	.face a:hover {
 	 color: #193233;
		}

.face a:visited {
	color:#193233;
} 

.button {
	  transition: transform .2s; /* Animation */
}

.button:hover {
	transform: scale(1.05); /* (105% zoom - Note: if the zoom is too large, it will go outside of the viewport) */}

.icon {
	  transition: transform .2s; /* Animation */
}

.icon:hover {
	transform: scale(1.50); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */}

div.gallery {
  margin: 5px;
	margin-right:4%;
  float: left;
}


div.gallery img {
  width: 100%;
  height: 100%;
	align-self: center
}

div.desc {
  padding: 15px;
  text-align: left;
	font-family: montserrat;
	color: #ffffff;
	font-size: 14pt;

}
